In [1]:
import pandas as pd

In [4]:
data=pd.read_csv("/Users/karishmadev/Downloads/sales_data_1.csv")
data

,Date,Firm bought from,Buying price,Customer,Selling price,Quantity sold
0,21/08/23,Vendor6,72.11,Customer7,91.58,44
1,21/08/23,Vendor4,75.08,Customer7,83.71,17
2,21/08/23,Vendor7,83.93,Customer2,103.76,15
3,21/08/23,Vendor7,52.01,Customer3,64.53,7
4,21/08/23,Vendor2,98.91,Customer5,140.92,1
...,...,...,...,...,...,...
65,27/08/23,Vendor4,64.82,Customer6,87.45,18
66,27/08/23,Vendor8,88.79,Customer3,105.59,5
67,27/08/23,Vendor5,63.30,Customer5,92.92,32
68,27/08/23,Vendor5,94.06,Customer5,125.67,4
69,27/08/23,Vendor5,56.28,Customer6,82.16,1

In [15]:
# 1. GROSS MARGIN FOR THEIR BUSINESS

data['Gross_Margin'] = data['Buying price'] - data['Selling price']
overall_gross_margin =data['Gross_Margin'].sum()
print("Overall Gross Margin for the business: ", overall_gross_margin)

Overall Gross Margin for the business:  -1207.1999999999998

In [16]:
# 2. MOST PROFTIABLE VENDOR:

vendor_profit = data.groupby('Firm bought from')['Gross_Margin'].sum().idxmax()
print("Most profitable vendor: ", vendor_profit)

Most profitable vendor:  Vendor6

In [17]:
# 3. LEAST PROFTIABLE VENDOR:

customer_profit = data.groupby('Customer')['Gross_Margin'].sum().idxmin()
print("Least profitable customer: ", customer_profit)

Least profitable customer:  Customer8

In [18]:
# 4. MOST PROFTIABLE DAY OF THE WEEK:

data['Date'] = pd.to_datetime(data['Date'])
data['Day_of_Week'] = data['Date'].dt.day_name()
most_profitable_day = data.groupby('Day_of_Week')['Gross_Margin'].sum().idxmax()
print("Most profitable day of the week: ", most_profitable_day)

Most profitable day of the week:  Thursday

In [19]:
# 5. LEAST PROFTIABLE DAY OF THE WEEK:

least_profitable_day = data.groupby('Day_of_Week')['Gross_Margin'].sum().idxmin()
print("Least profitable day of the week: ", least_profitable_day)

Least profitable day of the week:  Monday

In [21]:

data_2=pd.read_csv("/Users/karishmadev/Downloads/sales_data_2.csv")
data_2

,Date,Firm bought from,Buying price,Quantity bought,Customer,Selling price,Quantity sold
0,2023-08-21,Vendor6,72.11,60,Customer7,91.58,44
1,2023-08-21,Vendor4,75.08,92,Customer7,83.71,17
2,2023-08-21,Vendor7,83.93,16,Customer2,103.76,15
3,2023-08-21,Vendor7,52.01,62,Customer3,64.53,7
4,2023-08-21,Vendor2,98.91,1,Customer5,140.92,1
...,...,...,...,...,...,...,...
65,2023-08-27,Vendor4,64.82,28,Customer6,87.45,18
66,2023-08-27,Vendor8,88.79,14,Customer3,105.59,5
67,2023-08-27,Vendor5,63.30,81,Customer5,92.92,32
68,2023-08-27,Vendor5,94.06,18,Customer5,125.67,4
69,2023-08-27,Vendor5,56.28,25,Customer6,82.16,1

In [45]:
data_2['Gross_Profit'] = data_2['Selling price'] - data_2['Buying price']
data_2['3_day_avg_profit'] = data_2['Gross_Profit'].rolling(window=3).mean()

In [29]:
# 4. PERCENTILES FOR BUYING PRICE:

buying_price_percentiles = data_2['Buying price'].quantile([0.25, 0.5, 0.75])
print("buying_price_percentiles:", buying_price_percentiles)

buying_price_percentiles: 0.25    29.90
0.50    60.76
0.75    78.32
Name: Buying price, dtype: float64

In [43]:
# 4. PERCENTILES FOR SELLING PRICE:

selling_price_percentiles = data_2['Selling price'].quantile([0.25, 0.5, 0.75])
below_25th_percentile = data_2[data_2['Buying price'] < buying_price_percentiles[0.25]]